Repository voxpupuli/puppet-etherpad, pull requests merged in 2018-08, with the labels that each got.

#52 allow puppetlabs/vcsrepo 2.x
  metadata.json
Labels: enhancement

#53 Prepare for 2.1.0 release
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#56 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#55 Add plugins auto installation
  .fixtures.yml
  .gitignore
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/plugins/common.pp
  manifests/plugins/ep_button_link.pp
  manifests/plugins/ep_ldapauth.pp
  manifests/plugins/ucommon.pp
  metadata.json
  spec/classes/etherpad_spec.rb
  templates/plugins/ep_button_link.epp
  templates/plugins/ep_ldapauth.epp
  templates/service/systemd.epp
  templates/settings.json-fp.epp
  templates/settings.json-sp.epp
  templates/settings.json.epp
  types/buttonlink.pp
  types/ldapauth.pp
Labels: enhancement
