Repository voxpupuli/puppet-etherpad, pull requests merged in 2018-09, with the labels that each got.

#60 modulesync 2.0.0
  .gitignore
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#61 Add ep mypad into list of supported plugins
  README.md
  manifests/init.pp
  manifests/plugins/ep_ldapauth.pp
  manifests/plugins/ep_mypads.pp
  spec/classes/etherpad_spec.rb
  templates/plugins/ep_ldapauth.epp
  templates/plugins/ep_mypads.epp
  templates/settings.json-fp.epp
  templates/settings.json-sp.epp
  types/mypads.pp
Labels: enhancement

#63 Idempotent fix
  .sync.yml
  .travis.yml
  manifests/install.pp
  manifests/plugins/common.pp
  metadata.json
  spec/acceptance/etherpad_spec.rb
  spec/classes/etherpad_spec.rb
  spec/defines/etherpad_plugin_common_spec.rb
  spec/spec_helper_acceptance.rb
Labels: bug

#67 add ubuntu 16.04 as supported OS
  .fixtures.yml
  .sync.yml
  .travis.yml
  README.md
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement
