Repository voxpupuli/puppet-etherpad, pull requests merged in 2019-06, with the labels that each got.

#79 Allow puppetlabs/concat 6.x, puppetlabs/stdlib 6.x, puppet/nodejs 7.x; require at least stdlib 4.25.0 instead of 4.17
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#80 ep_mypads does not use ep_ldapauth
  README.md
  manifests/plugins/ep_mypads.pp
  spec/classes/etherpad_spec.rb
  templates/plugins/ep_mypads.epp
  types/mypads.pp
Labels: bug

#81 fix datatype for tlsOptions
  types/mypads.pp
Labels: bug

#82 release 2.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#84 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
